.race-block {
  position: relative;
  height: 128px;
  margin: 8px;
  background: linear-gradient(white, rgb(230, 230, 240));
}

.racer-container-info {
  padding-left: 8px;
}

.stamina-bar-wrapper > .progress {
  margin-bottom: 0px;
}

.racer-container {
  border: 1px solid rgb(180, 180, 180);
  border-bottom: 1px solid rgb(130, 130, 130);
  margin: 5px;
}

.race-block-name {
  position: relative;
  top: 50%;
  text-align: left;
}

.race-line {
  border-top: 5px dashed black;
  position: absolute;
  width: 100%;
  margin-top: 80px;
  z-index: 1;
}

.choco-racer {
  position: absolute;
  width: 120px;
  height: 128px;
  top: 0px;
  z-index: 2;
}

.race-finish {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: race-finish-anim;
  animation-duration: 0.5s;
  z-index: 100;
}

.race-finish-button {
  position: fixed;
  top: 75%;
  left: 50%;
  width: 50%;
  height: 64px;
  transform: translate(-50%, -50%);
  animation-name: race-finish-anim;
  animation-duration: 0.5s;
  animation-delay: 1s;
  opacity: 0;
  animation-fill-mode: forwards;
  z-index: 100;
}

@keyframes race-finish-anim {
  from {
    transform: translate(-50%, -50%) scale(0, 0);
  }
  to {
    transform: translate(-50%, -50%) scale(1, 1);
    opacity: 1;
  }
}
