.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.sprite {
  image-rendering: pixelated;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.race-block {
  position: relative;
  height: 128px;
  margin: 32px;
  margin-right: 32px;
}

.race-line {
  border-top: 5px dashed black;
  position: absolute;
  width: 100%;
  margin-top: 105px;
  z-index: -100;
}

.choco-racer {
  position: absolute;
  width: 120px;
  height: 128px;
  top: 0px;
}

.race-finish {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: race-finish-anim;
  animation-duration: 0.5s;
}

.race-finish-button {
  position: fixed;
  top: 75%;
  left: 50%;
  width: 50%;
  height: 64px;
  transform: translate(-50%, -50%);
  animation-name: race-finish-anim;
  animation-duration: 0.5s;
  animation-delay: 1s;
  opacity: 0;
  animation-fill-mode: forwards;
}

@keyframes race-finish-anim {
  from {
    transform: translate(-50%, -50%) scale(0, 0);
  }
  to {
    transform: translate(-50%, -50%) scale(1, 1);
    opacity: 1;
  }
}

.race-finish-overlay {
  border: 1px solid rgb(50, 50, 50);
  background-color: rgba(150, 150, 150, 1);
  position: fixed;
  width: 95%;
  height: 95%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.race-event-btn {
  width: 80%;
  height: 200px;
}
