.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 64px;
  padding: 20px;
  color: white;
}

.App-title {
  vertical-align: bottom;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.sprite {
  image-rendering: pixelated;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

table {
  text-align: left;
}

.options-panel {
  position: fixed;
  right: 0;
  bottom: 0;
}
